*{
	box-sizing: border-box;
	color: #333333;
}

body {
	background-color: #FBF9F1;
	line-height: 1.25;
	text-align: left;
	font-family: "Georgia", Palatino, serif;
	width: 600px;
	margin-top: 30px;
	margin-left: 60px;
}

h1 {
	display: inline-block;
	margin-bottom: 0; 
	
}

h2 {
	font-size: 50px;
}

p {
	font-size: 20px;
}

a {
	color: #77A8D2;
	font-style: normal;
}

.line {
	
	width: auto;
	height: 2px;
	background-color: #000000;
	margin-left: 0;
	margin-top: 0;
}

.boxtitle {
	background-color: #333333;
	padding: 5px;
	color: white;
	font-family: "Geneva", Ubuntu, sans-serif
	
}